/* ********************************** */
/*              ABOUT US              */
/* ********************************** */
.section-about {
	& > div {
		display: flex;
		align-items: center;
		gap: 120px;
	}

	.container-images {
		flex: 1;
		position: relative;

		.main-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 9999px;
		}

		.alt-image {
			width: 170px;
			height: 170px;
			object-fit: cover;
			border-radius: 999px;
			border: 7px solid #fff;

			position: absolute;
			bottom: 12%;
			left: -22%;
		}

		.card-info {
			border-radius: 15px;
			background-color: var(--color-primary);
			position: absolute;
			top: 20%;
			right: -20%;
			width: 170px;

			display: flex;
			flex-direction: column;
			gap: 15px;
			padding: 20px;

			i {
				color: var(--color-light);
				font-size: 26px;
			}

			h3 {
				color: var(--color-light);
				font-size: 18px;
				font-weight: 700;
			}
		}
	}

	.content {
		flex: 2;

		display: flex;
		flex-direction: column;
		gap: 10px;

		p {
			font-size: 18px;
			line-height: 1.4;
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 20px;
			margin: 30px 0;

			li {
				list-style: none;
				display: flex;
				gap: 10px;
				align-items: center;

				i {
					font-size: 10px;
					color: #333;
					background-color: var(--color-primary);
					padding: 5px;
					border-radius: 999px;
				}

				span {
					font-size: 18px;
				}
			}
		}

		.container-buttons {
			display: flex;
			gap: 20px;
			align-items: center;
		}
	}

	@media (max-width: 992px) {
		padding-left: 15px;
		padding-right: 15px;

		& > div {
			flex-direction: column;
			gap: 30px;
		}

		.container-images {
			order: 1;

			.main-image {
				width: 100%;
				height: 600px;
				object-fit: cover;
				border-radius: 9999px;
			}

			.alt-image {
				width: 140px;
				height: 140px;
				left: -18%;
			}

			.card-info {
				padding: 15px;
				h3 {
					font-size: 16px;
				}
			}
		}

		.content {
			order: -1;
			ul {
				li {
					span {
						font-size: 16px;
					}
				}
			}
		}
	}

	@media (max-width: 768px) {
		.container-images {
			padding: 0 20px;

			.main-image {
				height: 100%;
			}

			.alt-image {
				width: 100px;
				height: 100px;
				left: 2%;
				bottom: 5%;
				border-width: 4px;
			}

			.card-info {
				top: 10%;
				right: 0;
			}
		}

		.content {
			p {
				font-size: 16px;
			}

			ul {
				li {
					span {
						font-size: 16px;
					}
				}
			}
		}
	}
}

/* ********************************** */
/*        SECCION OUR APPROACH        */
/* ********************************** */
.section-our-approach {
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;

		.title {
			width: 70%;
			text-align: center;
		}
	}

	.container-tabs {
		margin: 60px 0;
		background-color: #363837;
		padding: 20px 40px;
		border-radius: 30px;

		display: flex;
		align-items: center;
		gap: 40px;

		button {
			background: none;
			border: none;
			color: var(--color-light);
			font-weight: 700;
			font-size: 14px;
			position: relative;
			cursor: pointer;

			&::after {
				content: '';
				position: absolute;
				width: 7px;
				height: 7px;
				border-radius: 999px;
				top: 50%;
				transform: translateY(-50%);
				right: -20px;
				background-color: var(--color-primary);
			}

			&:last-child::after {
				display: none;
			}

			&.active {
				color: var(--color-primary);
			}
		}
	}

	.content-info {
		display: none;
		gap: 30px;

		&.active {
			display: flex;
		}

		.container-info {
			display: flex;
			flex-direction: column;
			gap: 10px;
			flex: 1;

			.title {
				width: 100%;
				text-align: left;
			}

			p {
				font-size: 18px;
				line-height: 1.5;
			}

			ul {
				margin-top: 20px;
				display: flex;
				flex-direction: column;
				gap: 20px;

				li {
					list-style: none;
					display: flex;
					gap: 15px;
					align-items: center;
					font-size: 18px;
					line-height: 1.4;

					i {
						font-size: 10px;
						color: var(--color-secondary);
						background-color: var(--color-primary);
						padding: 5px;
						border-radius: 999px;
					}
				}
			}
		}

		.container-img {
			flex: 1;
			margin-top: 40px;

			img {
				width: 100%;
				height: 400px;
				object-fit: cover;
				border-radius: 25px;
			}
		}
	}

	@media (max-width: 992px) {
		.container-tabs {
			padding: 15px 10px;
			margin: 30px 0;
			overflow-x: auto;

			.tab {
				flex: 1;
			}
		}

		.content-info {
			flex-direction: column;
			gap: 0;

			.container-info {
				p {
					font-size: 16px;
				}

				ul {
					li {
						font-size: 16px;
					}
				}
			}

			.container-img {
				margin-top: 30px;
				img {
					height: 500px;
				}
			}
		}
	}

	@media (max-width: 768px) {
		.container-tabs {
			padding: 10px 15px;
			gap: 30px;

			.tab {
				font-size: 12px;
			}
		}

		.content-info {
			.container-img {
				img {
					height: 100%;
				}
			}
		}
	}
}

/* ********************************** */
/*            DAILY OFFERS            */
/* ********************************** */
.section-daily-offers {
	& > div {
		display: flex;
		align-items: center;
		gap: 80px;
	}

	.container-images {
		flex: 1;
		position: relative;

		.card-info {
			display: flex;
			flex-direction: column;
			gap: 15px;

			background-color: var(--color-primary);
			padding: 25px;
			border-radius: 15px;
			color: var(--color-light);
			font-size: 18px;

			position: absolute;
			bottom: 0;
			right: -10px;

			.stars {
				display: flex;
				align-items: center;
				gap: 5px;

				i {
					color: #ffae00;
					font-size: 12px;
				}
			}

			ul {
				display: flex;
				flex-direction: column;
				gap: 10px;

				li {
					list-style: none;
					display: flex;
					align-items: center;
					gap: 10px;

					i {
						font-size: 12px;
						color: var(--color-primary);
						background-color: var(--color-light);
						border-radius: 999px;
						padding: 5px;
						font-size: 8px;
					}

					span {
						font-weight: 600;
						font-size: 14px;
					}
				}
			}
		}
	}

	.content {
		flex: 2;

		display: flex;
		flex-direction: column;
		gap: 10px;

		p {
			font-size: 18px;
			line-height: 1.4;
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 20px;
			margin: 30px 0;

			li {
				list-style: none;
				display: flex;
				gap: 10px;
				align-items: center;
				font-size: 18px;

				i {
					font-size: 10px;
					color: #333;
					background-color: var(--color-primary);
					padding: 5px;
					border-radius: 999px;
				}
			}
		}

		.container-buttons {
			display: flex;
			gap: 20px;
			align-items: center;
		}
	}

	@media (max-width: 992px) {
		padding-left: 15px;
		padding-right: 15px;

		& > div {
			flex-direction: column;
			gap: 50px;
		}

		.container-images {
			order: -1;

			img {
				width: 600px;
			}
		}

		.content {
			p {
				font-size: 16px;
			}

			ul {
				li {
					font-size: 16px;
				}
			}
		}
	}

	@media (max-width: 768px) {
		.container-images {
			img {
				width: 100%;
			}

			.card-info {
				padding: 10px;
				gap: 5px;

				h3 {
					font-size: 18px;
				}

				ul {
					li {
						gap: 5px;
						i {
							font-size: 6px;
							padding: 3px;
						}

						span {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

/* ********************************** */
/*           ALWAYS QUALITY           */
/* ********************************** */
.section-always-quality {
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;

		h2 {
			text-align: center;
			width: 70%;
		}

		.grid-cards-chef {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 30px;
			margin-top: 50px;
			width: 100%;

			.card-chef {
				width: 100%;
				height: 400px;

				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				border-radius: 15px;
				overflow: hidden;

				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: center;
				padding: 20px;
				position: relative;
				z-index: 1;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(
						to top,
						rgba(0, 0, 0, 0.9) 5%,
						rgba(0, 0, 0, 0.1) 50%
					);
					z-index: -1;
				}

				.info {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 5px;

					a {
						text-decoration: none;
					}

					h3 {
						font-size: 20px;
						color: var(--color-light);
						font-weight: 700;
						text-align: center;
						transition: transform 0.3s ease-in-out;
					}

					p {
						font-size: 18px;
						color: var(--text-color);
						font-weight: 400;
						text-align: center;
						transition: transform 0.3s ease-in-out;
					}

					.container-social {
						position: absolute;
						bottom: 20px;
						opacity: 0;
						transform: translateY(100%);
						transition: all 0.6s;

						display: flex;
						gap: 25px;
						margin-top: 20px;

						a {
							width: 40px;
							height: 40px;
							border-radius: 999px;
							border: 1px solid var(--color-light);
							text-decoration: none;
							transition: all 0.3s ease-in-out;

							display: flex;
							justify-content: center;
							align-items: center;

							i {
								font-size: 20px;
								color: var(--color-light);
							}

							&:hover {
								background-color: var(--color-primary);
								border-color: var(--color-primary);
							}
						}
					}
				}

				&:hover {
					.info {
						h3,
						p {
							transform: translateY(-50px);
						}

						.container-social {
							opacity: 1;
							transform: translateY(0);
						}
					}
				}
			}

			.background-chef-1 {
				background-image: url(../images/about/chef-1.jpg);
			}

			.background-chef-2 {
				background-image: url(../images/about/chef-2.jpg);
			}

			.background-chef-3 {
				background-image: url(../images/about/chef-3.jpg);
			}

			.background-chef-4 {
				background-image: url(../images/about/chef-4.jpg);
			}
		}

		.footer-content {
			margin-top: 50px;
			font-weight: 400;
			color: var(--color-light);
			font-size: 18px;

			a {
				font-weight: 700;
				color: var(--color-primary);
			}
		}
	}

	@media (max-width: 992px) {
		.content {
			h2 {
				width: 90%;
			}

			.grid-cards-chef {
				grid-template-columns: repeat(2, 1fr);
			}

			.footer-content {
				font-size: 16px;
				text-align: center;
			}
		}
	}

	@media (max-width: 768px) {
		.content {
			.grid-cards-chef {
				grid-template-columns: repeat(1, 1fr);
			}
		}
	}
}

/* ********************************** */
/*            TESTIMONIALS            */
/* ********************************** */
.section-testimonials {
	background-image: url(../images/home/bg-testimonials.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed; /* Efecto Parallax */
	position: relative;
	z-index: 1;

	display: flex;
	align-items: center;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
		z-index: -1;
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;

		h2 {
			width: 60%;
			text-align: center;
		}

		.container-testimonials {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-top: 50px;
			width: 90%;

			overflow-x: hidden;
			scroll-snap-type: x mandatory;
			scroll-behavior: smooth;
			position: relative;

			.testimonial {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 20px;

				transition: transform 0.3s ease-in-out;
				flex: 0 0 100%;
				scroll-snap-align: center;

				.quote-icon {
					width: 50px;
					height: 50px;
				}

				p {
					text-align: center;
					font-size: 28px;
					width: 70%;
					line-height: 1.5;
				}

				img {
					width: 60px;
					height: 60px;
					object-fit: cover;
					border-radius: 999px;
				}

				h3 {
					color: var(--color-primary);
				}
			}
		}

		.carousel-wrapper {
			position: relative;
			display: flex;
			justify-content: center;

			.btn-carousel {
				border: 1px solid var(--color-primary);
				background: none;
				width: 50px;
				height: 50px;
				border-radius: 999px;
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				cursor: pointer;
				transition: background-color 0.3s;

				top: 50%;
				transform: translateY(-50%);

				i {
					color: var(--color-primary);
					font-size: 18px;
				}

				&.btn-prev {
					left: 0;
				}

				&.btn-next {
					right: 0;
				}

				&:hover {
					background-color: var(--color-primary);
					i {
						color: var(--color-light);
					}
				}
			}
		}
	}

	@media (max-width: 992px) {
		padding-left: 15px;
		padding-right: 15px;

		.content {
			gap: 10px;

			h2 {
				width: 80%;
			}

			.container-testimonials {
				margin-top: 10px;
				.testimonial {
					p {
						font-size: 22px;
					}

					h3 {
						font-size: 20px;
					}
				}
			}
		}
	}

	@media (max-width: 768px) {
		.content {
			h2 {
				width: 90%;
			}

			.container-testimonials {
				.testimonial {
					p {
						font-size: 16px;
						width: 100%;
					}

					h3 {
						font-size: 18px;
					}
				}
			}

			.carousel-wrapper {
				padding-bottom: 50px;

				.btn-carousel {
					width: 40px;
					height: 40px;
					bottom: -20px;
					top: auto;

					&.btn-prev {
						left: 40%;
					}

					&.btn-next {
						right: 40%;
					}
				}
			}
		}
	}

	@media (max-width: 576px) {
		.content {
			.carousel-wrapper {
				.btn-carousel {
					&.btn-prev {
						left: 35%;
					}

					&.btn-next {
						right: 35%;
					}
				}
			}
		}
	}
}

/* ********************************** */
/*        FREQUENTLY QUESTIONS        */
/* ********************************** */
.section-frequently-questions {
	& > div {
		display: flex;
		gap: 100px;
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 10px;
		flex: 1;

		p {
			font-size: 18px;
			line-height: 1.4;
			font-weight: 400;
		}

		.container-button {
			margin-top: 20px;
			align-self: flex-start;
		}
	}

	.container-questions {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 20px;

		.faq-item {
			padding-bottom: 20px;
			border-bottom: 1px solid var(--color-divider);
			overflow: hidden; /* Evita saltos bruscos */
			transition: all 0.4s ease-in-out;

			.faq-question {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding-bottom: 20px;
				width: 100%;

				border: none;
				background: transparent;
				cursor: pointer;

				h3 {
					color: var(--color-light);
					font-size: 22px;
					font-weight: 700;
					text-align: left;
				}

				i {
					font-size: 24px;
					color: var(--color-light);
					transform: rotate(180deg);
					transition: all 0.3s;
				}
			}

			.faq-answer {
				font-size: 18px;
				max-height: 0;
				overflow: hidden;
				opacity: 0;
				transition: max-height 0.4s ease-in-out,
					opacity 0.3s ease-in-out, padding 0.3s ease-in-out;
				/* padding: 0 15px; */
			}

			&.active {
				.faq-question {
					i {
						transform: rotate(0deg);
						color: var(--color-primary);
					}
				}

				.faq-answer {
					max-height: 200px;
					opacity: 1;
				}
			}
		}
	}

	@media (max-width: 992px) {
		& > div {
			flex-direction: column;
			gap: 50px;
		}

		.container-questions {
			.faq-item {
				.faq-question {
					h3 {
						font-size: 20px;
					}
				}

				.faq-answer {
					font-size: 16px;
				}
			}
		}
	}
}

/* ********************************** */
/*           SECCION BOOKING          */
/* ********************************** */
.section-booking-table {
	& > div {
		display: flex;
		align-items: center;
		gap: 80px;
		position: relative;
	}

	.content {
		flex: 1;

		.schedules {
			display: flex;
			flex-direction: column;
			gap: 10px;

			margin-top: 40px;

			h3 {
				color: var(--color-light);
				font-size: 24px;
				margin-bottom: 10px;
			}
		}
	}

	.spacer {
		flex: 1;
	}

	.contact-form {
		background-color: var(--color-light);
		height: 500px;
		width: 50%;
		border-radius: 15px;
		padding: 60px 40px;
		display: flex;
		flex-direction: column;
		gap: 20px;

		position: absolute;
		top: 0;
		right: 0;

		label {
			color: var(--dark-color-divider);
		}

		.group-form {
			display: flex;
			flex-direction: column;
			gap: 10px;

			input {
				padding: 15px;
				border: 1px solid #ccc;
				border-radius: 10px;
				font-size: 14px;
				font-weight: 400;
				color: var(--text-color);
				transition: all 0.3s;

				&:focus {
					outline: none;
				}

				&::placeholder {
					color: var(--text-color);
				}
			}

			select {
				padding: 15px;
				border: 1px solid #ccc;
				border-radius: 10px;
				font-size: 14px;
				font-weight: 400;
				color: var(--text-color);
				transition: all 0.3s;
				width: 100%;

				&:focus {
					outline: none;
				}
			}
		}

		.row {
			display: flex;
			gap: 20px;

			.group-form {
				flex: 1;
			}
		}
		button {
			border: none;
			background-color: var(--color-primary);
			color: var(--color-light);
			font-weight: 700;
			padding: 20px;
			border-radius: 999px;
			cursor: pointer;
			transition: background-color 0.3s;
			margin-top: 30px;

			&:hover {
				background-color: #333;
			}
		}
	}

	@media (max-width: 992px) {
		padding-left: 15px;
		padding-right: 15px;

		& > div {
			flex-direction: column;
			gap: 10px;
		}

		.spacer {
			height: 400px;
			flex: auto;
			width: 100%;
		}

		.contact-form {
			width: 100%;
			top: 45%;
			right: 0;
		}
	}

	@media (max-width: 768px) {
		.spacer {
			height: 700px;
		}

		.contact-form {
			height: auto;
			padding: 30px 20px;
			top: 35%;

			.row {
				flex-direction: column;
			}
		}
	}
}
