/* ********************************** */
/*                UTILS               */
/* ********************************** */
.form {
	padding: 60px 40px;
	border-radius: 14px;
	display: flex;
	flex-direction: column;
	gap: 25px;

	.row {
		display: flex;
		gap: 25px;
		align-items: center;
	}

	.form-group {
		display: flex;
		flex-direction: column;
		gap: 10px;
		flex: 1;

		label {
			font-size: 16px;
			font-weight: 400;
			color: var(--color-light);
		}

		input {
			padding: 15px 20px;
			border: 1px solid var(--color-divider);
			background: none;
			border-radius: 8px;
			outline: none;
			font-size: 16px;
			font-weight: 400;

			color: var(--color-light);

			&::placeholder {
				color: var(--color-light);
				font-weight: 400;
			}
		}

		textarea {
			padding: 15px 20px;
			border: 1px solid var(--color-divider);
			background: none;
			border-radius: 8px;
			outline: none;
			font-size: 16px;
			font-weight: 400;
			height: 120px;
			color: var(--color-light);

			&::placeholder {
				color: var(--color-light);
				font-weight: 400;
			}
		}
	}

	@media (max-width: 992px) {
		padding: 40px 20px;
		width: 100%;
	}

	@media (max-width: 768px) {
		padding: 30px 20px;

		.row {
			flex-direction: column;

			.form-group {
				width: 100%;
			}
		}
	}
}

main {
	padding: 100px 0;

	& > div {
		display: flex;
		gap: 60px;
		position: relative;
	}

	.sidebar {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 50px;

		position: sticky;
		top: 40px;
		left: 0;
		height: fit-content;

		.container-img {
			border-radius: 30px;
			overflow: hidden;

			img {
				width: 100%;
				height: 350px;
				object-fit: cover;
			}
		}

		.faq-contact {
			background-color: var(--color-primary);
			border-radius: 15px;
			padding: 30px;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 20px;

			i {
				color: var(--color-light);
				font-size: 80px;
			}

			h3 {
				color: var(--color-light);
				font-size: 24px;
				width: 70%;
				text-align: center;
			}

			p {
				color: var(--color-light);
				font-size: 18px;
				text-align: center;
				width: 80%;
			}

			.phone-btn {
				background-color: var(--color-light);
				color: var(--dark-color-divider);
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 10px;
				padding: 13px 30px;
				text-decoration: none;
				border-radius: 999px;
				font-weight: 700;
				transition: all 0.3s ease-in-out;

				i {
					color: var(--dark-color-divider);
					font-size: 20px;
					transition: all 0.3s ease-in-out;
				}

				&:hover {
					background-color: var(--dark-color-divider);
					color: var(--color-light);

					i {
						color: var(--color-light);
					}
				}
			}
		}
	}

	.content {
		flex: 2.5;

		.block-content {
			display: flex;
			flex-direction: column;
			gap: 20px;
			margin-top: 40px;

			&:first-child {
				margin-top: 0;
				padding-bottom: 20px;
				border-bottom: 1px solid var(--color-divider);
			}

			p {
				font-size: 18px;
				line-height: 1.6;
			}

			.specs-info {
				display: flex;
				flex-direction: column;
				gap: 10px;
				margin: 20px 0;

				p {
					display: flex;
					align-items: center;

					span {
						color: var(--color-light);
						font-size: 16px;
						flex: 3;

						&:first-child {
							font-weight: 700;
							font-size: 20px;
							flex: 1;
						}
					}
				}
			}

			.form-contact {
				flex: 1;
				background-color: var(--color-secondary);

				button {
					background-color: var(--color-primary);
					color: var(--color-light);
					padding: 15px;
					border-radius: 999px;
					margin-top: 30px;
					display: flex;
					justify-content: center;

					&:hover {
						background-color: var(--color-light);
						color: var(--color-secondary);
					}
				}
			}
		}
	}

	@media (max-width: 992px) {
		padding: 50px 15px;

		& > div {
			flex-direction: column;
			gap: 20px;
		}

		.sidebar {
			position: relative;
			top: 0;
			width: 100%;

			.container-img {
				img {
					height: 600px;
				}
			}
		}
	}

	@media (max-width: 768px) {
		.sidebar {
			.container-img {
				img {
					height: 100%;
				}
			}
		}
	}
}

/* ********************************** */
/*           SECCION BOOKING          */
/* ********************************** */
.section-booking-table {
	& > div {
		display: flex;
		align-items: center;
		gap: 80px;
		position: relative;
	}

	.content {
		flex: 1;

		.schedules {
			display: flex;
			flex-direction: column;
			gap: 10px;

			margin-top: 40px;

			h3 {
				color: var(--color-light);
				font-size: 24px;
				margin-bottom: 10px;
			}
		}
	}

	.spacer {
		flex: 1;
	}

	.contact-form {
		background-color: var(--color-light);
		height: 500px;
		width: 50%;
		border-radius: 15px;
		padding: 60px 40px;
		display: flex;
		flex-direction: column;
		gap: 20px;

		position: absolute;
		top: 0;
		right: 0;

		label {
			color: var(--dark-color-divider);
		}

		.group-form {
			display: flex;
			flex-direction: column;
			gap: 10px;

			input {
				padding: 15px;
				border: 1px solid #ccc;
				border-radius: 10px;
				font-size: 14px;
				font-weight: 400;
				color: var(--text-color);
				transition: all 0.3s;

				&:focus {
					outline: none;
				}

				&::placeholder {
					color: var(--text-color);
				}
			}

			select {
				padding: 15px;
				border: 1px solid #ccc;
				border-radius: 10px;
				font-size: 14px;
				font-weight: 400;
				color: var(--text-color);
				transition: all 0.3s;
				width: 100%;

				&:focus {
					outline: none;
				}
			}
		}

		.row {
			display: flex;
			gap: 20px;

			.group-form {
				flex: 1;
			}
		}
		button {
			border: none;
			background-color: var(--color-primary);
			color: var(--color-light);
			font-weight: 700;
			padding: 20px;
			border-radius: 999px;
			cursor: pointer;
			transition: background-color 0.3s;
			margin-top: 30px;

			&:hover {
				background-color: #333;
			}
		}
	}

	@media (max-width: 992px) {
		padding-left: 15px;
		padding-right: 15px;

		& > div {
			flex-direction: column;
			gap: 10px;
		}

		.spacer {
			height: 400px;
			flex: auto;
			width: 100%;
		}

		.contact-form {
			width: 100%;
			top: 45%;
			right: 0;
		}
	}

	@media (max-width: 768px) {
		.spacer {
			height: 700px;
		}

		.contact-form {
			height: auto;
			padding: 30px 20px;
			top: 35%;

			.row {
				flex-direction: column;
			}
		}
	}
}
