main {
	padding: 100px 0;

	.grid-cards-chef {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 30px;
		margin-top: 50px;
		width: 100%;

		.card-chef {
			width: 100%;
			height: 400px;

			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			border-radius: 15px;
			overflow: hidden;

			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			padding: 20px;
			position: relative;
			z-index: 1;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					to top,
					rgba(0, 0, 0, 0.9) 5%,
					rgba(0, 0, 0, 0.1) 50%
				);
				z-index: -1;
			}

			.info {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 5px;

				a {
					text-decoration: none;
				}

				h3 {
					font-size: 20px;
					color: var(--color-light);
					font-weight: 700;
					text-align: center;
					transition: transform 0.3s ease-in-out;
				}

				p {
					font-size: 18px;
					color: var(--text-color);
					font-weight: 400;
					text-align: center;
					transition: transform 0.3s ease-in-out;
				}

				.container-social {
					position: absolute;
					bottom: 20px;
					opacity: 0;
					transform: translateY(100%);
					transition: all 0.6s;

					display: flex;
					gap: 25px;
					margin-top: 20px;

					a {
						width: 40px;
						height: 40px;
						border-radius: 999px;
						border: 1px solid var(--color-light);
						text-decoration: none;
						transition: all 0.3s ease-in-out;

						display: flex;
						justify-content: center;
						align-items: center;

						i {
							font-size: 20px;
							color: var(--color-light);
						}

						&:hover {
							background-color: var(--color-primary);
							border-color: var(--color-primary);
						}
					}
				}
			}

			&:hover {
				.info {
					h3,
					p {
						transform: translateY(-50px);
					}

					.container-social {
						opacity: 1;
						transform: translateY(0);
					}
				}
			}
		}

		.background-chef-1 {
			background-image: url(../images/chefs/chef-1.jpg);
		}

		.background-chef-2 {
			background-image: url(../images/chefs/chef-2.jpg);
		}

		.background-chef-3 {
			background-image: url(../images/chefs/chef-3.jpg);
		}

		.background-chef-4 {
			background-image: url(../images/chefs/chef-4.jpg);
		}

		.background-chef-5 {
			background-image: url(../images/chefs/chef-5.jpg);
		}

		.background-chef-6 {
			background-image: url(../images/chefs/chef-6.jpg);
		}

		.background-chef-7 {
			background-image: url(../images/chefs/chef-7.jpg);
		}

		.background-chef-8 {
			background-image: url(../images/chefs/chef-8.jpg);
		}
	}

	@media (max-width: 992px) {
		padding: 50px 15px;

		.grid-cards-chef {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media (max-width: 768px) {
		.grid-cards-chef {
			grid-template-columns: 1fr;
		}
	}
}

/* ********************************** */
/*           SECCION BOOKING          */
/* ********************************** */
.section-booking-table {
	& > div {
		display: flex;
		align-items: center;
		gap: 80px;
		position: relative;
	}

	.content {
		flex: 1;

		.schedules {
			display: flex;
			flex-direction: column;
			gap: 10px;

			margin-top: 40px;

			h3 {
				color: var(--color-light);
				font-size: 24px;
				margin-bottom: 10px;
			}
		}
	}

	.spacer {
		flex: 1;
	}

	.contact-form {
		background-color: var(--color-light);
		height: 500px;
		width: 50%;
		border-radius: 15px;
		padding: 60px 40px;
		display: flex;
		flex-direction: column;
		gap: 20px;

		position: absolute;
		top: 0;
		right: 0;

		label {
			color: var(--dark-color-divider);
		}

		.group-form {
			display: flex;
			flex-direction: column;
			gap: 10px;

			input {
				padding: 15px;
				border: 1px solid #ccc;
				border-radius: 10px;
				font-size: 14px;
				font-weight: 400;
				color: var(--text-color);
				transition: all 0.3s;

				&:focus {
					outline: none;
				}

				&::placeholder {
					color: var(--text-color);
				}
			}

			select {
				padding: 15px;
				border: 1px solid #ccc;
				border-radius: 10px;
				font-size: 14px;
				font-weight: 400;
				color: var(--text-color);
				transition: all 0.3s;
				width: 100%;

				&:focus {
					outline: none;
				}
			}
		}

		.row {
			display: flex;
			gap: 20px;

			.group-form {
				flex: 1;
			}
		}
		button {
			border: none;
			background-color: var(--color-primary);
			color: var(--color-light);
			font-weight: 700;
			padding: 20px;
			border-radius: 999px;
			cursor: pointer;
			transition: background-color 0.3s;
			margin-top: 30px;

			&:hover {
				background-color: #333;
			}
		}
	}

	@media (max-width: 992px) {
		padding-left: 15px;
		padding-right: 15px;

		& > div {
			flex-direction: column;
			gap: 10px;
		}

		.spacer {
			height: 400px;
			flex: auto;
			width: 100%;
		}

		.contact-form {
			width: 100%;
			top: 45%;
			right: 0;
		}
	}

	@media (max-width: 768px) {
		.spacer {
			height: 700px;
		}

		.contact-form {
			height: auto;
			padding: 30px 20px;
			top: 35%;

			.row {
				flex-direction: column;
			}
		}
	}
}
