.form {
	padding: 60px 40px;
	border-radius: 14px;
	display: flex;
	flex-direction: column;
	gap: 25px;

	.row {
		display: flex;
		gap: 25px;
		align-items: center;
	}

	.form-group {
		display: flex;
		flex-direction: column;
		gap: 10px;
		flex: 1;
		width: 100%;

		label {
			font-size: 16px;
			font-weight: 400;
			color: var(--color-light);
		}

		input {
			padding: 15px 20px;
			border: 1px solid var(--color-divider);
			background: none;
			border-radius: 8px;
			outline: none;
			font-size: 16px;
			font-weight: 400;

			color: var(--color-light);

			&::placeholder {
				color: var(--color-light);
				font-weight: 400;
			}
		}

		textarea {
			padding: 15px 20px;
			border: 1px solid var(--color-divider);
			background: none;
			border-radius: 8px;
			outline: none;
			font-size: 16px;
			font-weight: 400;
			height: 120px;
			color: var(--color-light);

			&::placeholder {
				color: var(--color-light);
				font-weight: 400;
			}
		}
	}

	@media (max-width: 992px) {
		padding: 40px 20px;
		width: 100%;
	}

	@media (max-width: 768px) {
		padding: 30px 20px;

		.row {
			flex-direction: column;
		}
	}
}

/* ********************************** */
/*         SECTION CONTACT US         */
/* ********************************** */
.section-contact-us {
	& > div {
		display: flex;
		align-items: center;
		gap: 100px;
	}

	.content {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 10px;

		.container-info {
			margin-top: 20px;
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		.container-social {
			display: flex;
			gap: 20px;
			margin-top: 20px;
			align-items: center;

			li {
				list-style: none;

				a {
					text-decoration: none;
					color: var(--color-light);
					border: 1px solid var(--color-divider);
					border-radius: 999px;
					width: 50px;
					height: 50px;
					display: flex;
					justify-content: center;
					align-items: center;
					transition: all 0.5s ease;

					i {
						font-size: 22px;
					}

					&:hover {
						background-color: var(--color-primary);
						border-color: var(--color-primary);

						i {
							color: #333;
						}
					}
				}
			}
		}
	}

	.form-contact {
		flex: 1;
		background-color: var(--color-secondary);

		button {
			background-color: var(--color-primary);
			color: var(--color-light);
			padding: 15px;
			border-radius: 999px;
			margin-top: 30px;
			display: flex;
			justify-content: center;

			&:hover {
				background-color: var(--color-light);
				color: var(--color-secondary);
			}
		}
	}

	@media (max-width: 992px) {
		& > div {
			flex-direction: column;
			gap: 50px;
		}

		padding-left: 15px;
		padding-right: 15px;
	}
}

/* ********************************** */
/*             SECTION MAP            */
/* ********************************** */
.container-map {
	padding: 0;
	width: 100%;

	iframe {
		width: 100%;
		height: 600px;
		border: none;
	}
}

/* ********************************** */
/*        SECTION RESERVE TABLE       */
/* ********************************** */
.section-reserve-table {
	& > div {
		display: flex;
		align-items: center;
		gap: 100px;
		position: relative;
	}

	.content {
		flex: 1;

		.schedules {
			display: flex;
			flex-direction: column;
			gap: 10px;

			margin-top: 40px;

			h3 {
				color: var(--color-light);
				font-size: 24px;
				margin-bottom: 10px;
			}
		}
	}

	.spacer {
		flex: 1;
	}

	.form-reserve-table {
		background-color: var(--color-light);
		height: 500px;
		width: 50%;

		position: absolute;
		top: 0;
		right: 0;

		label {
			color: var(--dark-color-divider);
		}

		.form-group {
			input {
				color: var(--text-color);
				border-color: var(--text-color);

				&::placeholder {
					color: var(--text-color);
				}
			}

			select {
				padding: 15px;
				border: 1px solid #ccc;
				border-radius: 10px;
				font-size: 14px;
				font-weight: 400;
				color: var(--text-color);
				transition: all 0.3s;
				width: 100%;

				&:focus {
					outline: none;
				}
			}
		}

		button {
			background-color: var(--color-primary);
			color: var(--color-light);
			padding: 20px;
			border-radius: 999px;
			margin-top: 30px;
			display: flex;
			justify-content: center;

			&:hover {
				background-color: #333;
			}
		}
	}

	@media (max-width: 992px) {
		padding-left: 15px;
		padding-right: 15px;

		& > div {
			flex-direction: column;
			gap: 10px;
		}

		.spacer {
			height: 400px;
			flex: auto;
			width: 100%;
		}

		.form-reserve-table {
			width: 100%;
			top: 45%;
			right: 0;
		}
	}

	@media (max-width: 768px) {
		.spacer {
			height: 700px;
		}

		.form-reserve-table {
			height: auto;
			padding: 30px 20px;
			top: 35%;

			.row {
				flex-direction: column;
			}
		}
	}
}
