/* ********************************** */
/*        SECTION SPECIAL MENU        */
/* ********************************** */
.section-special-menu {
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;

		p {
			font-size: 18px;
			width: 75%;
			text-align: center;
			line-height: 1.6;
		}

		.grid-special-menu {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			gap: 50px;
			margin-top: 80px;

			.card-special-menu {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 20px;

				.container-img {
					border-radius: 999px;
					overflow: hidden;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				h3 {
					a {
						text-decoration: none;
						color: var(--color-light);
						font-size: 22px;
						font-weight: 700;
						text-align: center;
						display: block;
					}
				}
			}
		}
	}

	@media (max-width: 992px) {
		.content {
			p {
				width: 100%;
			}

			.grid-special-menu {
				grid-template-columns: repeat(4, 1fr);
				gap: 80px;

				.card-special-menu {
					.container-img {
						width: 120px;
						height: 120px;
					}

					h3 {
						a {
							font-size: 18px;
						}
					}
				}
			}
		}
	}

	@media (max-width: 768px) {
		.content {
			p {
				width: 100%;
			}

			.grid-special-menu {
				grid-template-columns: repeat(3, 1fr);
				gap: 40px;
				width: 100%;

				.card-special-menu {
					.container-img {
						width: 90px;
						height: 90px;
					}

					h3 {
						a {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

/* ********************************** */
/*         SECTION SINGLE MENU        */
/* ********************************** */
.section-single-menu {
	& > div {
		display: flex;
		gap: 100px;
		position: relative;
	}

	.content {
		height: fit-content;
		position: sticky;
		top: 0;
		padding: 20px 0 0 0;

		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.grid-menu {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 50px;
		width: 100%;

		.container-img {
			display: flex;
			align-items: center;

			img {
				width: 100px;
				height: 100px;
				object-fit: cover;
				border-radius: 999px;
			}
		}

		.card-menu {
			display: flex;
			align-items: center;
			gap: 20px;

			.info-card {
				display: flex;
				flex-direction: column;
				gap: 10px;

				.row {
					display: flex;
					align-items: center;
					gap: 10px;

					h3 {
						color: var(--color-light);
						font-size: 20px;
						text-transform: uppercase;
					}

					.divider {
						width: 100%;
						height: 1px;
						background-color: var(--text-color);
					}

					span {
						background-color: var(--color-primary);
						color: var(--color-light);
						font-weight: 800;
						padding: 5px 25px;
						border-radius: 999px;
						text-align: center;
						font-size: 14px;
					}
				}

				p {
					font-size: 18px;
				}
			}
		}
	}

	@media (max-width: 992px) {
		& > div {
			flex-direction: column;
			gap: 50px;
		}

		.content {
			position: relative;
			top: 0;
		}

		.grid-menu {
			grid-template-columns: repeat(1, 1fr);
			gap: 40px;

			.card-menu {
				.info-card {
					flex: 1;
					gap: 20px;

					.row {
						h3 {
							font-size: 18px;
							text-wrap: nowrap;
						}

						span {
							font-size: 16px;
						}
					}

					p {
						font-size: 18px;
					}
				}
			}
		}
	}

	@media (max-width: 768px) {
		.grid-menu {
			.card-menu {
				.container-img {
					img {
						width: 70px;
						height: 70px;
					}
				}

				.info-card {
					gap: 10px;

					.row {
						h3 {
							font-size: 16px;
							text-wrap: wrap;
						}

						span {
							font-size: 14px;
							padding: 3px 10px;
						}
					}

					p {
						font-size: 14px;
					}
				}
			}
		}
	}
}

/* ********************************** */
/*           SECCION BOOKING          */
/* ********************************** */
.section-booking-table {
	& > div {
		display: flex;
		align-items: center;
		gap: 80px;
		position: relative;
	}

	.content {
		flex: 1;

		.schedules {
			display: flex;
			flex-direction: column;
			gap: 10px;

			margin-top: 40px;

			h3 {
				color: var(--color-light);
				font-size: 24px;
				margin-bottom: 10px;
			}
		}
	}

	.spacer {
		flex: 1;
	}

	.contact-form {
		background-color: var(--color-light);
		height: 500px;
		width: 50%;
		border-radius: 15px;
		padding: 60px 40px;
		display: flex;
		flex-direction: column;
		gap: 20px;

		position: absolute;
		top: 0;
		right: 0;

		label {
			color: var(--dark-color-divider);
		}

		.group-form {
			display: flex;
			flex-direction: column;
			gap: 10px;

			input {
				padding: 15px;
				border: 1px solid #ccc;
				border-radius: 10px;
				font-size: 14px;
				font-weight: 400;
				color: var(--text-color);
				transition: all 0.3s;

				&:focus {
					outline: none;
				}

				&::placeholder {
					color: var(--text-color);
				}
			}

			select {
				padding: 15px;
				border: 1px solid #ccc;
				border-radius: 10px;
				font-size: 14px;
				font-weight: 400;
				color: var(--text-color);
				transition: all 0.3s;
				width: 100%;

				&:focus {
					outline: none;
				}
			}
		}

		.row {
			display: flex;
			gap: 20px;

			.group-form {
				flex: 1;
			}
		}
		button {
			border: none;
			background-color: var(--color-primary);
			color: var(--color-light);
			font-weight: 700;
			padding: 20px;
			border-radius: 999px;
			cursor: pointer;
			transition: background-color 0.3s;
			margin-top: 30px;

			&:hover {
				background-color: #333;
			}
		}
	}

	@media (max-width: 992px) {
		padding-left: 15px;
		padding-right: 15px;

		& > div {
			flex-direction: column;
			gap: 10px;
		}

		.spacer {
			height: 400px;
			flex: auto;
			width: 100%;
		}

		.contact-form {
			width: 100%;
			top: 45%;
			right: 0;
		}
	}

	@media (max-width: 768px) {
		.spacer {
			height: 700px;
		}

		.contact-form {
			height: auto;
			padding: 30px 20px;
			top: 35%;

			.row {
				flex-direction: column;
			}
		}
	}
}
