/* ********************************** */
/*          SECTION SERVICES          */
/* ********************************** */
.section-services {
	.grid-card-services {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;

		.card-service {
			padding: 40px;
			border: 1px solid var(--color-divider);
			border-radius: 14px;
			transition: all 0.4s;

			display: flex;
			flex-direction: column;
			gap: 20px;

			i {
				font-size: 36px;
				color: var(--color-primary);
				margin-bottom: 10px;
			}

			.info {
				display: flex;
				flex-direction: column;
				gap: 10px;
				flex: 1;

				h3 {
					font-size: 22px;
					color: var(--color-light);
				}

				p {
					font-size: 18px;
					line-height: 1.5;
					color: var(--text-color);
				}
			}

			a {
				color: var(--color-primary);
				text-decoration: none;
				text-transform: capitalize;
				font-weight: 700;
				font-size: 18px;
				transition: color 0.3s;

				display: flex;
				align-items: center;
				gap: 10px;

				i {
					font-size: 16px;
					margin: 0;
					transition: all 0.3s;
				}

				&:hover {
					color: var(--color-light);

					i {
						transform: translateX(5px);
					}
				}
			}

			&:hover {
				transform: translateY(-5px);
			}
		}
	}

	@media (max-width: 992px) {
		.grid-card-services {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media (max-width: 768px) {
		.grid-card-services {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

/* ********************************** */
/*            TESTIMONIALS            */
/* ********************************** */
.section-testimonials {
	background-image: url(../images/home/bg-testimonials.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed; /* Efecto Parallax */
	position: relative;
	z-index: 1;

	display: flex;
	align-items: center;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
		z-index: -1;
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;

		h2 {
			width: 60%;
			text-align: center;
		}

		.container-testimonials {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-top: 50px;
			width: 90%;

			overflow-x: hidden;
			scroll-snap-type: x mandatory;
			scroll-behavior: smooth;
			position: relative;

			.testimonial {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 20px;

				transition: transform 0.3s ease-in-out;
				flex: 0 0 100%;
				scroll-snap-align: center;

				.quote-icon {
					width: 50px;
					height: 50px;
				}

				p {
					text-align: center;
					font-size: 28px;
					width: 70%;
					line-height: 1.5;
				}

				img {
					width: 60px;
					height: 60px;
					object-fit: cover;
					border-radius: 999px;
				}

				h3 {
					color: var(--color-primary);
				}
			}
		}

		.carousel-wrapper {
			position: relative;
			display: flex;
			justify-content: center;

			.btn-carousel {
				border: 1px solid var(--color-primary);
				background: none;
				width: 50px;
				height: 50px;
				border-radius: 999px;
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				cursor: pointer;
				transition: background-color 0.3s;

				top: 50%;
				transform: translateY(-50%);

				i {
					color: var(--color-primary);
					font-size: 18px;
				}

				&.btn-prev {
					left: 0;
				}

				&.btn-next {
					right: 0;
				}

				&:hover {
					background-color: var(--color-primary);
					i {
						color: var(--color-light);
					}
				}
			}
		}
	}

	@media (max-width: 992px) {
		padding-left: 15px;
		padding-right: 15px;

		.content {
			gap: 10px;

			h2 {
				width: 80%;
			}

			.container-testimonials {
				margin-top: 10px;
				.testimonial {
					p {
						font-size: 22px;
					}

					h3 {
						font-size: 20px;
					}
				}
			}
		}
	}

	@media (max-width: 768px) {
		.content {
			h2 {
				width: 90%;
			}

			.container-testimonials {
				.testimonial {
					p {
						font-size: 16px;
						width: 100%;
					}

					h3 {
						font-size: 18px;
					}
				}
			}

			.carousel-wrapper {
				padding-bottom: 50px;

				.btn-carousel {
					width: 40px;
					height: 40px;
					bottom: -20px;
					top: auto;

					&.btn-prev {
						left: 40%;
					}

					&.btn-next {
						right: 40%;
					}
				}
			}
		}
	}

	@media (max-width: 576px) {
		.content {
			.carousel-wrapper {
				.btn-carousel {
					&.btn-prev {
						left: 35%;
					}

					&.btn-next {
						right: 35%;
					}
				}
			}
		}
	}
}

/* ********************************** */
/*            DAILY OFFERS            */
/* ********************************** */
.section-daily-offers {
	& > div {
		display: flex;
		align-items: center;
		gap: 80px;
	}

	.container-images {
		flex: 1;
		position: relative;

		.card-info {
			display: flex;
			flex-direction: column;
			gap: 15px;

			background-color: var(--color-primary);
			padding: 25px;
			border-radius: 15px;
			color: var(--color-light);
			font-size: 18px;

			position: absolute;
			bottom: 0;
			right: -10px;

			.stars {
				display: flex;
				align-items: center;
				gap: 5px;

				i {
					color: #ffae00;
					font-size: 12px;
				}
			}

			ul {
				display: flex;
				flex-direction: column;
				gap: 10px;

				li {
					list-style: none;
					display: flex;
					align-items: center;
					gap: 10px;

					i {
						font-size: 12px;
						color: var(--color-primary);
						background-color: var(--color-light);
						border-radius: 999px;
						padding: 5px;
						font-size: 8px;
					}

					span {
						font-weight: 600;
						font-size: 14px;
					}
				}
			}
		}
	}

	.content {
		flex: 2;

		display: flex;
		flex-direction: column;
		gap: 10px;

		p {
			font-size: 18px;
			line-height: 1.4;
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 20px;
			margin: 30px 0;

			li {
				list-style: none;
				display: flex;
				gap: 10px;
				align-items: center;
				font-size: 18px;

				i {
					font-size: 10px;
					color: #333;
					background-color: var(--color-primary);
					padding: 5px;
					border-radius: 999px;
				}
			}
		}

		.container-buttons {
			display: flex;
			gap: 20px;
			align-items: center;
		}
	}

	@media (max-width: 992px) {
		padding-left: 15px;
		padding-right: 15px;

		& > div {
			flex-direction: column;
			gap: 50px;
		}

		.container-images {
			order: -1;

			img {
				width: 600px;
			}
		}

		.content {
			p {
				font-size: 16px;
			}

			ul {
				li {
					font-size: 16px;
				}
			}
		}
	}

	@media (max-width: 768px) {
		.container-images {
			img {
				width: 100%;
			}

			.card-info {
				padding: 10px;
				gap: 5px;

				h3 {
					font-size: 18px;
				}

				ul {
					li {
						gap: 5px;
						i {
							font-size: 6px;
							padding: 3px;
						}

						span {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

/* ********************************** */
/*           SECCION BOOKING          */
/* ********************************** */
.section-booking-table {
	& > div {
		display: flex;
		align-items: center;
		gap: 80px;
		position: relative;
	}

	.content {
		flex: 1;

		.schedules {
			display: flex;
			flex-direction: column;
			gap: 10px;

			margin-top: 40px;

			h3 {
				color: var(--color-light);
				font-size: 24px;
				margin-bottom: 10px;
			}
		}
	}

	.spacer {
		flex: 1;
	}

	.contact-form {
		background-color: var(--color-light);
		height: 500px;
		width: 50%;
		border-radius: 15px;
		padding: 60px 40px;
		display: flex;
		flex-direction: column;
		gap: 20px;

		position: absolute;
		top: 0;
		right: 0;

		label {
			color: var(--dark-color-divider);
		}

		.group-form {
			display: flex;
			flex-direction: column;
			gap: 10px;

			input {
				padding: 15px;
				border: 1px solid #ccc;
				border-radius: 10px;
				font-size: 14px;
				font-weight: 400;
				color: var(--text-color);
				transition: all 0.3s;

				&:focus {
					outline: none;
				}

				&::placeholder {
					color: var(--text-color);
				}
			}

			select {
				padding: 15px;
				border: 1px solid #ccc;
				border-radius: 10px;
				font-size: 14px;
				font-weight: 400;
				color: var(--text-color);
				transition: all 0.3s;
				width: 100%;

				&:focus {
					outline: none;
				}
			}
		}

		.row {
			display: flex;
			gap: 20px;

			.group-form {
				flex: 1;
			}
		}
		button {
			border: none;
			background-color: var(--color-primary);
			color: var(--color-light);
			font-weight: 700;
			padding: 20px;
			border-radius: 999px;
			cursor: pointer;
			transition: background-color 0.3s;
			margin-top: 30px;

			&:hover {
				background-color: #333;
			}
		}
	}

	@media (max-width: 992px) {
		padding-left: 15px;
		padding-right: 15px;

		& > div {
			flex-direction: column;
			gap: 10px;
		}

		.spacer {
			height: 400px;
			flex: auto;
			width: 100%;
		}

		.contact-form {
			width: 100%;
			top: 45%;
			right: 0;
		}
	}

	@media (max-width: 768px) {
		.spacer {
			height: 700px;
		}

		.contact-form {
			height: auto;
			padding: 30px 20px;
			top: 35%;

			.row {
				flex-direction: column;
			}
		}
	}
}
